/*
Name: 			style.css
Written by: 	Lavrinenko Aleksandr
Theme Version:	1.0
*/

// COMMON IMPORTS
@import "config/imports";

// HELPERS
@import "base/helpers";

// BASE
@import "base/base";


// header
@import "base/header";


// Top Section CSS 

.top-section {
    position: relative;
    z-index: 0;

    .top-section-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // @include bg-style;
        // background-position: center right;
        // background-position: center right;
        // background-size: contain;
        // background-repeat: no-repeat;

        // &:after {
        //     content: '';
        //     position: absolute;
        //     width: 71%;
        //     height: 100%;
        //     left: 0;
        //     top: 0;
        //     background: linear-gradient(90deg, #002882 55.53%, rgba(0, 40, 130, 0.00) 99.84%);


        // }
        picture {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            @media screen {
                @media (max-width: 767px) {
                    object-position: center bottom;
                }
            }
        }
    }


}

.top-section-content {
    padding: 175px 0;
    position: relative;
    z-index: 1;
    @include flex-column;
    max-width: 520px;
    color: $color-main;
    line-height: normal;

    h1 {
        @media screen {
            @media (max-width: 1199px) {
                padding-bottom: 15px;
            }

            @media (max-width: 767px) {
                max-width: 250px;
                padding-bottom: 10px;
            }
        }
    }

    >.subtitle {
        font-family: $font-medium;
        font-size: 1.4rem;

        // margin-top: 30px;
        @media screen {
            @media (max-width: 1199px) {
                font-size: 1rem;
            }

            @media (max-width: 767px) {
                max-width: 250px;
            }
        }
    }

    >.btn {
        margin-top: 100px;

        @media screen {
            @media (max-width: 1199px) {
                margin-top: 40px;
            }

            // @media (max-width: 767px) {
            //     width: 100%;
            //     max-width: 290px;
            // }
        }
    }

    @media screen {
        @media (max-width: 1660px) {
            padding: 5rem 0;
        }

        @media (max-width: 1199px) {
            padding: 50px 0;
            max-width: 240px;
        }

        @media (max-width: 767px) {
            padding-top: 12vw;
            padding-bottom: 40vw;
            align-items: center;
            max-width: none;
            width: 100%;
            @include text-center;
        }
    }
}

// End Top Section CSS 

// Start More possibilities wrapper
.more-possibilities-wrapper {
    .swiper-control {
        margin-top: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .swiper-prev {
        background-image: url(../media/icons/prev-blue.svg);
    }

    .swiper-next {
        background-image: url(../media/icons/next-blue.svg);
    }

    .swiper-button {
        @media screen {
            @media (max-width: 767px) {
                margin: 0 17.5px;
            }
        }
    }

    .btn-wrapper {
        margin-top: 4rem;

        @media screen {
            @media (max-width: 1199px) {
                margin-top: 3rem;
            }
        }
    }
}

.more-possibilities-slider {
    margin: -20px;
    padding: 20px;

    .swiper-wrapper {
        box-sizing: border-box;
    }

    @media screen {
        @media (max-width: 767px) {

            margin: -15px;
            padding: 15px;
        }
    }
}

.more-possibilities-slide {
    @include flex-column;
    padding: 20px 15px;
    padding-right: 25px;
    background: $color-main;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: inherit;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

    @media screen {
        @media (max-width: 767px) {
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        }
    }

    .img-wrapper {
        width: 50px;

        @media screen {
            @media (max-width: 1199px) {
                width: 40px;
            }
        }
    }

    .title {
        font-size: .9rem;
        margin-top: 20px;
        overflow: hidden;
        width: 100%;
        // min-height: 50px;
        /*  white-space: nowrap;
        text-overflow: ellipsis; */
        font-family: $font-medium;
        color: $color-third;
        line-height: normal;

        @media screen {
            @media (max-width: 1199px) {
                margin-top: 15px;
                font-size: .8rem;
            }

            @media (max-width: 767px) {
                font-size: 1.1rem;
            }
        }
    }

    .text {
        font-size: .7rem;
        margin-top: 10px;
        color: rgba($color-third, .6);
        font-family: $font-book;
        line-height: $body-line-height + 0%;

        @media (max-width: 767px) {
            font-size: .9rem;
        }

    }
}

// Catalog Style
.catalog h2 {
    padding-bottom: 30px;
}

.catalog-fltr {
    margin: 0 -15px;
    align-items: center;

    @media screen {
        @media (max-width: 1199px) {
            margin: 0 -10px;
            row-gap: 20px;
        }

        @media (max-width: 767px) {
            margin: 0;
            @include flex-column;
            gap: 10px;
            align-items: center;
        }
    }

    .default-select-wrapper {
        width: calc(25% - 30px);
        margin: 0 15px;
        position: relative;

        @media screen {
            @media (max-width: 1199px) {
                width: calc(33.3% - 20px);
                margin: 0 10px;
            }

            @media (max-width: 767px) {
                width: 100%;
                margin: 0;
            }
        }
    }

    .link-fltr {
        color: $color-second;
        margin: 0 15px;
        border-bottom: 1px solid $color-second;

        &:hover {
            border-color: transparent;
        }
    }

    .btn {
        margin: 0 15px;
        margin-left: auto;

        @media screen {
            @media (max-width: 1199px) {
                height: auto;
                padding: 0;
                border: none;
                border-radius: 0;
                margin-right: 10px;
                border-bottom: 1px solid;

                &:hover,
                &:active {
                    border-color: transparent;
                    background: transparent;
                    color: $color-contur-blue;
                }
            }

            @media (max-width: 767px) {
                max-width: none;
                width: auto;
                margin: 0;
                margin-top: 10px;
            }
        }
    }
}

.catalog-items {
    margin: 0 -16px;
    margin-top: 60px;
    row-gap: 48px;

    @media screen {
        @media (max-width: 1199px) {
            margin: 0 -15px;
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            margin: 0;
            margin-top: 40px;
            @include flex-column;
            gap: 20px;
        }
    }
}

.catalog-item {
    width: calc(33.3% - 32px);
    margin: 0 16px;
    border: 1px solid rgba($color-second, .15);
    border-radius: 8px;
    overflow: hidden;
    @include flex-column;
    position: relative;
    transition: $transition;

    @media screen {
        @media (max-width: 1199px) {
            width: calc(50% - 30px);
            margin: 0 15px;
        }

        @media (max-width: 767px) {
            width: 100%;
            margin: 0;
        }
    }

    >.item-labels-top {
        position: absolute;
        top: 10px;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        left: 50%;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        @media screen {
            @media (max-width: 1199px) {
                width: calc(100% - 30px);
                // margin: 0 15px;
            }
        }
    }

    .view-count {
        color: #C4C4C4;
        font-family: $font-book;
        padding: 5px 10px;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        background: $color-main;
        font-size: .6rem;
        line-height: normal;

        @media screen {
            @media (max-width: 767px) {
                font-size: .8rem;
            }
        }
    }

    &:hover {
        box-shadow: 0px 4px 20px 0px rgba($color-second, 0.15);
    }
}

.catalog-item-slider_wrapper {
    padding: 0;
    position: relative;
    width: 100%;

    .swiper-slide {
        @include bg-style;
        width: 100%;
        height: 220px;
        background-size: 100%;

        @media screen {
            @media (max-width: 1199px) {
                height: 200px;
                // margin: 0 15px;
            }

            @media (max-width: 767px) {
                height: 63vw;
            }
        }
    }

    .swiper-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        right: auto;
        bottom: auto;
        margin: 0;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: rgba($color-main, .8);
        z-index: 1;
        opacity: 0;

        &.prev {
            left: 20px;
            background-image: url(../media/icons/prev-item.svg);
        }

        &.next {
            right: 20px;
            background-image: url(../media/icons/next-item.svg);
        }
    }
}

.catalog-item:hover {
    .swiper-button:not(.disabled) {
        opacity: 1;
    }

    .swiper-button.disabled {
        opacity: .4;
    }
}

.catalog-item-descript {
    padding: 15px 20px;
    // padding-top: 25px;
    color: $color-third;
    @include flex-column;
    width: 100%;

    @media screen {
        @media (max-width: 1199px) {
            padding: 15px;
            // margin: 0 15px;
        }
    }

    .item-label {
        padding: 5px 10px;
        border-radius: 10px;
        @include text-ellipsis;
        color: $color-second-hover;
        font-size: .6rem;
        line-height: normal;
        border: 1px solid $color-second-hover;

        @media screen {
            @media (max-width: 1199px) {
                padding: 3px 8px;
                font-size: .5rem;
                // margin: 0 15px;
            }

            @media (max-width: 767px) {
                font-size: .8rem;
            }
        }

    }

    .item-name {
        font-family: $font-medium;
        font-size: 1.5rem;
        margin-top: 10px;
        @include text-ellipsis;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 1rem;
            }

            @media (max-width: 767px) {
                font-size: 1.7rem;
            }
        }

    }

    .item-price {
        margin-top: 10px;
        gap: 20px;
        align-items: center;

        >.item-price-current {
            font-family: $font-medium;
            font-size: 1rem;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: .9rem;
                }

                @media (max-width: 767px) {
                    font-size: 1.1rem;
                }
            }
        }

        >.item-price-old {
            font-size: .7rem;
            color: rgba($color-third, .4);
            line-height: normal;
            position: relative;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: .6rem;
                }

                @media (max-width: 767px) {
                    font-size: .9rem;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: 1px;
                left: 0;
                width: 100%;
                // transform: translateY(-50%);
                height: 1px;
                background: rgba($color-third, .3);

                @media screen {
                    @media (max-width: 1199px) {
                        margin-top: 0;
                    }

                    @media (max-width: 767px) {
                        margin-top: 1px;
                    }
                }
            }
        }
    }

    .item-stock {
        margin-top: 5px;
        @include text-ellipsis;
        font-size: .6rem;
        color: rgba($color-third, .6);
        line-height: normal;

        &.item-stock-red {
            color: #F40000;
        }

        @media screen {
            @media (max-width: 767px) {
                font-size: .8rem;
            }
        }
    }

    .btn {
        width: 100%;
        margin-top: 20px;
        width: 100%;
        height: 44px;
        line-height: 44px;
        padding: 0;
        text-align: center;
        font-family: $font-medium;
        font-size: .7rem;

        @media screen {
            @media (max-width: 767px) {
                font-size: 1rem;
                max-width: none;
            }
        }
    }
}

.catalog-item-request {
    width: calc(33.3% - 32px);
    margin: 0 16px;
    border-radius: 8px;
    overflow: hidden;
    @include flex-column;
    position: relative;
    transition: $transition;
    background: $color-second;

    @media screen {
        @media (max-width: 1199px) {
            width: calc(50% - 30px);
            margin: 0 15px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    .img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .content {
        margin-top: auto;
        z-index: 1;
        position: relative;
        width: 100%;
        padding: 15px 20px;
        color: $color-main;

        @media screen {
            @media (max-width: 1199px) {
                padding: 15px;
            }
        }

        .content-title {
            font-family: $font-medium;
            font-size: 1.5rem;
            padding-bottom: 10px;
        }

        .content-text {
            font-family: $font-light;
            font-size: .8rem;
            line-height: normal;
        }

        .btn {
            width: 100%;
            margin-top: 20px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0;
            text-align: center;
            font-family: $font-medium;
            font-size: .7rem;
        }
    }
}

.catalog-btn-wrapper {
    margin-top: 55px;
    @include text-center;
    justify-content: center;


    >.btn-mob {
        @media screen {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    @media screen {
        @media (max-width: 1199px) {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            @include flex-column;
            margin-top: 30px;
            gap: 30px;
            justify-content: initial;
            align-items: center;


            .btn:last-child {
                height: auto;
                padding: 0;
                border: none;
                border-radius: 0;
                margin: 0;
                border-bottom: 1px solid;
                max-width: none;
                width: auto;

                &:hover,
                &:active {
                    border-color: transparent;
                    background: transparent;
                    color: #0046E2;
                }
            }
        }
    }
}


// End Catalog Style

// Start Request Inline with Modal
.catalog-wrapper+.request-inline-modal {
    margin-top: 80px;

    @media screen {
        @media (max-width: 767px) {
            margin-top: 70px;
        }
    }
}

.request-inline-modal {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    background: $color-second;

    .img-wrapper {
        width: 347px;

        @media screen {
            @media (max-width: 1199px) {
                // order: 1;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: auto;
            }

            @media (max-width: 767px) {
                // order: 1;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                height: auto;
                width: 100%;
            }
        }

        picture {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: left center;
        }
    }

    .content {
        flex: 1;
        min-width: 0;
        padding: 0 65px;
        flex-wrap: nowrap;
        align-items: center;
        color: $color-main;
        gap: 50px;
        position: relative;

        @media screen {
            @media (max-width: 1199px) {
                padding: 40px;
                gap: 30px;
                @include flex-column;
            }

            @media (max-width: 767px) {
                padding: 40px 15px;
                max-width: 290px;
                margin: 0 auto;
                padding-top: 60vw;
                gap: 40px;
            }
        }


        .btn {
            flex-shrink: 0;
            font-family: $font-medium;
        }
    }

    .content-left {
        @include flex-column;
        gap: 10px;

        @media screen {
            @media (max-width: 1199px) {
                max-width: 50%;
            }

            @media (max-width: 767px) {
                max-width: none;
            }
        }


        .title {
            font-family: $font-medium;
            font-size: 1.5rem;

            @media screen {
                @media (max-width: 767px) {
                    font-size: 1.7rem;
                }
            }
        }

        .text {
            font-family: $font-light;
            line-height: normal;
            font-size: .8rem;

            @media screen {
                @media (max-width: 767px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

// End Request Inline with Modal


// Start Profit Wrapper
$color-profit-blue: #0132B0;

.profit-wrapper-top {
    position: relative;

    .title {
        font-family: $font-medium;
        font-size: 1.5rem;
        padding-bottom: 15px;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 1rem;
                padding-bottom: 10px;
            }

            @media (max-width: 767px) {
                font-size: 1.3rem;
                max-width: 100%;
                // white-space: nowrap;
                // text-overflow: ellipsis;
                // overflow: hidden;
            }
        }
    }

    .img-wrapper {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 420px;

        @media screen {
            @media (max-width: 1199px) {
                width: 230px;
            }

            @media (max-width: 767px) {
                position: relative;
                width: 100%;
                top: auto;
                transform: none;
            }
        }
    }

    .content {
        @include flex-column;
        gap: 15px;
        width: 40%;

        @media screen {
            @media (max-width: 1199px) {
                gap: 10px;
                width: 60%;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    .content-item {
        // width: 40%;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: flex-end;

        @media screen {
            @media (max-width: 767px) {
                justify-content: space-between;
                width: 100%;
            }
        }

        >div:first-child {
            width: 273px;
            font-size: .9rem;

            @media screen {
                @media (max-width: 1199px) {
                    width: 205px;
                    font-size: .8rem;

                }

                @media (max-width: 767px) {
                    flex: 1;
                    // min-width: 60%;
                    width: auto;
                    max-width: 205px;
                    font-size: .9rem
                }
            }
        }

        >div:last-child {
            font-family: $font-medium;
            color: $color-profit-blue;
            font-size: 1rem;

            @media screen {
                @media (max-width: 1199px) {
                    width: 205px;
                    font-size: .9rem;

                }

                @media (max-width: 767px) {
                    width: auto;
                    // flex: 1;
                    // flex-shrink: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}

.profit-wrapper-top+.profit-wrapper-table {
    margin-top: 100px;

    @media screen {
        @media (max-width: 1199px) {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }
}

.profit-wrapper-table {
    $color-border: rgba($color-second, .15);

    border-radius: 10px;
    border: 1px solid $color-border;
    // overflow: hidden;

    @media screen {
        @media (max-width: 767px) {
            border: none;
            border-radius: 0;
        }
    }

    .columns-item_table th {
        height: 50px;
        padding: 10px 0;

        @media screen {
            @media (max-width: 767px) {
                height: auto;
                text-align: left;
            }
        }
    }

    .table-column-main {
        width: 55%;
        padding: 10px 0;
        padding-left: 40px;
        padding-right: 25px;

        @media screen {
            @media (max-width: 1199px) {
                padding-left: 15px;
                padding-right: 20px;
                width: 50%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        tr:first-child td {
            border-top: none;
        }
    }

    .table-column-contents {
        flex: 1;
        min-width: 0;
        flex-shrink: 0;
        padding: 10px 0;

        @media screen {
            @media (max-width: 767px) {
                @include flex-column;
                gap: 10px;
                padding: 0;
            }
        }

        .columns-item_table {
            flex: 1;
            min-width: 0;
            padding: 0 16px;
            position: relative;
            z-index: 0;

            @media screen {
                @media (max-width: 1199px) {
                    padding: 0 5px;
                }

                @media (max-width: 767px) {
                    padding: 10px;
                    width: 100%;
                    border-radius: 6px;
                    border: 1px solid $color-border;
                }
            }

            .table-td-content {
                justify-content: flex-end;

                @media screen {
                    @media (max-width: 767px) {
                        position: relative;
                        z-index: 0;
                        gap: 10px;
                        align-items: flex-end;
                        justify-content: space-between;

                        &:before {
                            content: attr(data-before);
                            position: relative;
                            font-family: $font-book;
                            text-align: left;
                            flex: 1;
                            flex-shrink: 0;
                            padding: 5px 0;
                            border-bottom: 1px solid $color-border;
                        }

                        >div {
                            padding: 5px 0;
                            min-width: 80px;
                            border-bottom: 1px solid $color-border;
                        }
                    }
                }
            }

            &:last-child {
                @media screen {
                    @media (max-width: 1199px) {
                        margin-right: 10px;
                    }

                    @media (max-width: 767px) {
                        margin-right: 0;
                    }
                }
            }

            table {
                text-align: right;

                th {
                    color: $color-profit-blue;
                    font-weight: normal;
                    font-family: $font-book;

                    @media screen {
                        @media (max-width: 767px) {
                            font-family: $font-demibold;
                            font-size: 1.1rem;
                            padding: 5px 0;
                            padding-top: 0;
                        }
                    }
                }

                td {
                    @media screen {
                        @media (max-width: 767px) {
                            border: none;
                            padding: 0;

                            &.td-blue {
                                @media screen {
                                    @media (max-width: 767px) {
                                        .table-td-content:before {
                                            color: $color-profit-blue;
                                            font-family: $font-demibold;
                                        }

                                        .table-td-content:before,
                                        .table-td-content>div {
                                            padding-bottom: 10px;
                                        }
                                    }
                                }
                            }

                            &.td-bg-blue {

                                .table-td-content:after {
                                    content: '';
                                    position: absolute;
                                    top: -1px;
                                    background: $color-profit-blue;
                                    left: 50%;
                                    z-index: -1;
                                    border-bottom-left-radius: 5px;
                                    border-bottom-right-radius: 5px;
                                    transform: translateX(-50%);
                                    width: calc(100% + 21px);
                                    height: calc(100% + 11px);
                                }

                                .table-td-content:before {
                                    font-family: $font-demibold;
                                }

                                .table-td-content:before,
                                .table-td-content>div {
                                    border: none;
                                    padding-top: 10px;
                                    color: $color-main;
                                }
                            }
                        }
                    }
                }

                tr.tr-hidden-mob {
                    @media screen {
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                }
            }

            &:first-child {
                tr:last-child td {
                    position: relative;
                    border-top: none;
                    z-index: 0;
                    color: $color-main;
                    font-family: $font-demibold;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: calc(100% + 34px);
                        height: calc(100% + 21px);
                        background: $color-profit-blue;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        z-index: -1;

                        @media screen {
                            @media (max-width: 1199px) {
                                width: calc(100% + 10px);
                                height: calc(100% + 25px);
                            }
                        }
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: calc(100% + 40px);
                    width: 100%;
                    background: #F6F7FA;
                    z-index: -1;
                    border-radius: 6px;
                    border: 1px solid $color-profit-blue;
                    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

                    @media screen {
                        @media (max-width: 767px) {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    tr:last-child td {
        height: 70px;
        vertical-align: middle;
    }

    td {
        font-size: .9rem;
        padding: 10px 0;
        border-top: 1px solid $color-border;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 14px;
            }

        }

        &.blue {
            color: $color-profit-blue;
            font-family: $font-demibold;
        }

        .blue,
        .sub {
            color: $color-profit-blue;
        }

        .blue {
            font-family: $font-demibold;
        }
    }
}

// End Profit Wrapper


// Start All Inclusive
.all-inclusive-wrapper {
    position: relative;

    h2 {
        padding-bottom: 10px;
    }

    .subtitle {
        font-size: .9rem;
        color: rgba($color-third, .4);
        margin-bottom: 60px;

        @media screen {
            @media (max-width: 1199px) {
                margin-bottom: 40px;
            }

            @media (max-width: 767px) {
                margin-bottom: 30px;
                font-size: 1rem;
            }
        }
    }

    .swiper-control {
        position: absolute;
        top: 10px;
        right: 0;
        gap: 40px;

        @media screen {
            @media (max-width: 1199px) {
                gap: 20px;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        .swiper-prev {
            background-image: url(../media/icons/prev-black.svg);
            margin: 0;
        }

        .swiper-next {
            background-image: url(../media/icons/next-black.svg);
            margin: 0;
        }
    }
}

.all-inclusive-slider {
    margin: -20px;
    padding: 20px;

    @media screen {
        @media (max-width: 767px) {
            margin: -15px;
            padding: 15px;
        }
    }

    // margin-top: 60px;

    .swiper-wrapper {
        box-sizing: $box-border;
    }

    .swiper-slide {
        @media screen {
            @media (max-width: 1199px) {
                max-width: 274px;
            }

            @media (max-width: 767px) {
                max-width: 80vw;
            }
        }
    }
}

.all-inclusive-slide {
    padding: 20px 15px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    background: $color-main;
    border-radius: 10px;
    overflow: hidden;
    @include flex-column;

    @media screen {
        @media (max-width: 767px) {
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        }
    }

    .img-wrapper {
        width: 50px;

        @media screen {
            @media (max-width: 1199px) {
                width: 40px;
            }
        }
    }

    .title {
        font-family: $font-medium;
        font-size: .9rem;
        line-height: normal;
        margin-top: 20px;
        @include text-ellipsis;

        @media screen {
            @media (max-width: 767px) {
                margin-top: 15px;
                font-size: 1.1rem;
            }
        }
    }

    .text {
        font-size: .7rem;
        margin-top: 10px;
        color: $color-third;
        font-family: $font-book;
        line-height: $body-line-height + 0%;

        @media screen {
            @media (max-width: 1199px) {
                font-size: .8rem;
            }

            @media (max-width: 767px) {
                font-size: .9rem;
            }
        }
    }
}

//End All Inclusive

// Start Steps CSS
.days {
    @media screen {
        @media (max-width: 767px) {
            .heading-black {
                max-width: 250px;
            }
        }
    }
}

.days-items {
    @media screen {
        @media (max-width: 1199px) {
            @include flex-column;
        }
    }
}

.days-item {
    width: 20%;
    @include flex-column;

    @media screen {
        @media (max-width: 1199px) {
            flex-direction: row;
            gap: 20px;
            width: 100%;
            align-items: initial;

            &:last-child .days-item-content {
                padding-bottom: 0;
            }
        }
    }
}

.days-step-number {
    width: 100%;
    position: relative;

    @media screen {
        @media (max-width: 1199px) {
            width: auto;
        }
    }

    .current-step {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        // line-height: normal;
        border-radius: 50%;
        background: $color-main;
        font-family: $font-medium;
        color: $color-second;

        @media screen {
            @media (max-width: 767px) {
                font-size: 1.3rem;
            }
        }
    }

    .days-item:not(:last-child) &:before {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        background: $color-second;

        @media screen {
            @media (max-width: 1199px) {
                width: 2px;
                bottom: 0;
                top: auto;
                height: calc(100% - 40px);
                transform: translateX(-50%);
                left: 50%;
                right: auto;
            }
        }
    }
}

.days-item-content {
    @include flex-column;
    padding-right: 40px;
    margin-top: 15px;

    @media screen {
        @media (max-width: 1199px) {
            flex: 1;
            min-width: 0;
            flex-shrink: 0;
            margin-top: 0;
            padding-right: 0;
            padding-bottom: 30px;
            padding-top: 10px;
            max-width: 75%;
        }
    }

    .title {
        font-size: .9rem;
        font-family: $font-medium;
        // @include text-ellipsis;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 1rem;
            }

            @media (max-width: 767px) {
                font-size: 1.1rem;
            }
        }
    }

    .text {
        padding-top: 10px;
        font-size: .7rem;
        line-height: $body-line-height + 0%;

        @media screen {
            @media (max-width: 1199px) {
                font-size: .8rem;
            }

            @media (max-width: 767px) {
                font-size: .9rem;
            }
        }
    }
}

//End Steps CSS

// Start Faq CSS
.faq-item {
    @include flex-column;

    &+& {
        border-top: 1px solid rgba(0, 40, 130, 0.15);
    }

    // &:not(.open) .faq-item-content {

    // }
}

.faq-item-switcher {
    position: relative;
    padding: 20px 20px;
    padding-right: 50px;
    color: $color-third;
    transition: $transition;
    width: 100%;

    @media screen {
        @media (max-width: 767px) {
            padding: 10px 0;
            padding-right: 50px;
            font-size: 1.1rem;
        }
    }

    .faq-item.open &,
    &:hover {
        color: $color-second;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url(../media/icons/select-arrow.svg);
        @include bg-style;
        background-size: auto;
        transition: $transition;
    }

    .faq-item.open &:after {
        transform: translateY(-50%) rotate(-180deg);
    }

    // padding: ;
}

.faq-item-content {
    display: none;
    padding: 10px 20px 30px;
    font-size: .8rem;
    line-height: $body-line-height + 0%;

    >a {
        color: inherit;

        &.with-border {
            border-bottom: 1px solid;
            // transition: $transition;

            &:hover {
                border-color: transparent;
            }
        }
    }

    @media screen {
        @media (max-width: 767px) {
            padding: 10px 0 20px;
            font-size: .9rem;
        }
    }
}

//End Faq CSS

// Start Form CSS
.request-inline-wrapper {
    @media screen {
        @media (max-width: 767px) {
            max-width: 290px;
            margin: 0 auto;
        }
    }
}

.request-inline {
    position: relative;

    .img-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 45%;

        @media screen {
            @media (max-width: 1199px) {
                right: 0;
                bottom: 0;
                top: auto;
                height: auto;
                width: 70%;
            }

            @media (max-width: 767px) {
                right: 0;
                left: auto;
                bottom: 0;
                top: auto;
                height: auto;
                width: 100%;
            }
        }

        // @include bg-style;
        // background-position: left center;
        picture {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: left center;
        }

    }
}

.request-inline-wrapper .h2 {
    font-family: $font-book;
    text-transform: uppercase;
    line-height: normal;
    padding-bottom: 50px;
    position: relative;

    @media screen {
        @media (max-width: 1199px) {
            padding-bottom: 40px;
        }

        @media (max-width: 767px) {
            padding-bottom: 30px;
        }
    }
}

.form-request-inline {
    margin: 0 -10px;
    align-items: flex-end;
    position: relative;

    @media screen {
        @media (max-width: 1199px) {
            @include flex-column;
            margin: 0;
            gap: 20px;
        }
    }

    .default-input-wrapper {
        color: $color-main;
        width: calc(33.3% - 20px);
        margin: 0 10px;
        max-width: 350px;

        @media screen {
            @media (max-width: 1199px) {
                width: 350px;
                margin: 0;

            }

            @media (max-width: 767px) {
                width: 100%;
                max-width: none;
                // margin: 0;

            }
        }


        >label {
            font-size: .7rem;
            line-height: $body-line-height + 0%;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: .8rem;
                }

                @media (max-width: 767px) {
                    font-size: .9rem;
                }
            }
        }
    }

    .btn {
        margin: 0 10px;
        font-family: $font-medium;

        &.btn-blue:hover {
            color: $color-second;
            background: $color-main;
        }

        @media screen {
            @media (max-width: 1199px) {
                width: 350px;
                margin: 0;
                margin-top: 30px;
                min-height: 54px;
            }

            @media (max-width: 767px) {
                min-height: auto;
                margin-top: 20px;
            }
        }
    }

    &+.cont-text {
        margin-top: 30px;
        font-size: .6rem;
        color: $color-main;
        position: relative;

        >a {
            color: inherit;
            display: inline;
            border-bottom: 1px solid;

            @media screen {
                @media (min-width: 1200px) {
                    &:hover {
                        border-color: transparent;
                    }
                }
            }

            &:active {
                border-color: transparent;
            }
        }

        @media screen {
            @media (max-width: 1199px) {
                max-width: 350px;
            }

            @media (max-width: 767px) {
                padding: 10px;
                border-radius: 5px;
                background: rgba($color-second-hover, .6);
            }
        }
    }
}

.request-inline-success {
    align-items: center;
    max-width: 55%;
    position: relative;

    @media screen {
        @media (max-width: 1199px) {
            max-width: 80%;
        }

        @media (max-width: 767px) {
            max-width: 290px;
            margin: 0 auto;
            width: 100%;
        }
    }

    .h2 {
        font-family: $font-book;
        text-transform: uppercase;
        line-height: normal;
        padding-bottom: 0;
    }

    &:not(.show) {
        display: none;
    }

    &.show {
        display: flex !important;
    }
}

// End Form CSS


// Start Modal CSS
.blocker.current {
    z-index: 10;

    @media screen {
        @media (max-width: 767px) {
            padding: 0;
        }
    }
}

.modal.modal-request {
    width: 1170px;
    border-radius: 10px;
    overflow: hidden;
    background: $color-second;
    color: $color-main;
    max-width: 1170px;
    box-shadow: none;
    padding: 0;

    @media screen {
        @media (max-width: 1199px) {
            width: 100%;
            max-width: 768px;
        }

        @media (max-width: 767px) {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            max-width: none;
        }
    }

    .modal-wrapper {
        padding: 65px 70px;
        position: relative;

        @media screen {
            @media (max-width: 1199px) {
                padding: 40px;
            }

            @media (max-width: 767px) {
                padding: 60vw 15px 40px;

                .cont-text {
                    background: transparent;
                }
            }
        }
    }

    a.close-modal {
        position: absolute;
        top: 30px;
        right: 40px;
        width: 30px;
        height: 30px;
        @include bg-style;
        background-size: auto;
        background-image: url(../media/icons/close-modal.svg);

        @media screen {
            @media (max-width: 767px) {
                right: 15px;
                top: 20px;
            }
        }
    }

    .request-inline-success {
        width: 60%;
        max-width: 60%;

        @media screen {
            @media (max-width: 767px) {
                width: 100%;
                max-width: 290px;
                margin: 0 auto;
            }
        }
    }

    .img-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;

        // @include bg-style;
        @media screen {
            @media (max-width: 1199px) {
                width: 50%;
            }

            @media (max-width: 767px) {
                width: 100%;
                height: auto;
            }
        }

        picture,
        img {
            display: block;
            height: 100%;
        }

        img {
            object-fit: cover;
            object-position: left center;
        }
    }
}

// End Modal CSS


// footer
@import "base/footer";